.chat-room {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
}

.message-sender-name {
  font-weight: bold;
  margin-right: 5px;
  color:white;
}

.message-sender-title {
  font-size: 0.7em;
  color:white;
}

.message-sender-image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.rce-container-input{
  border-radius:3px;
  margin-bottom:5px;
  background-color:#3B374E;
  border-radius: 3.125rem;
}

.message-sender-info{
  margin-top:5px;
  margin-bottom:3px;
  display:flex;
  align-items: center;
  
}

.rce-input{
  background-color:#3B374E;
  color:white;
  border-radius: 3.125rem;
}

#send{

  background-color: #9A85FB; 
  border-radius: 3.125rem;
  width:3.2rem;
  height:30px;
  display:flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  
}

#sendImg{
  width:28px;
  height:25px;
  margin-left:10px;
}

.rce-mbox-text{
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

#add{
  width:30px;
  height:30px;
  border-radius: 3px;
  margin-right:10px;
  margin-left:5px;
}