.chat-component {
  display: flex;
  height: 100vh;
  gap:10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-list {
  flex-grow: 1;
  overflow-y: auto;
}

.user-profile {
  flex-shrink: 0;
  margin-top: auto;
}

.main {
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
}

.user-name,
.user-title {
  color: #FFF;
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal; /* 혹은 원하는 텍스트 색상으로 변경 */
}